#about {
    margin-top: 150px;
    font-size: 2.25rem;
}

img.headshot {
    height: auto;
    width: 650px;
    float: left;
    margin-right: 40px;
}




/* ********* */
/* Media Quires */
/* ********* */

@media (orientation: portrait) and (max-width: 1000px) {
    #about {
        text-align: center;
        font-size: 1.5rem;
    }

    img.headshot {
        width: 100%;
        float: none;
    }
}