.home {
    height: 75vh;
    width: 100%;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(169deg, #7d674c, #1c120c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}






/* ********* */
/* Media Quires */
/* ********* */

@media (orientation: portrait) and (max-width: 1000px) {
    .home {
        font-size: 2rem;
        text-align: center;
    }
}