.Project {
    width: 100%;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 40px;
    grid-template-areas: 
        "card card"
    ;
    font-size: 1.75rem;
}






/***************/
/* Half Cards */
/***************/

.half-project-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 725px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-vid-project {
    height: 500px;
    width: 100%;
}

.logo-container{
    height: 225px;
    display: flex;
    align-items: center;
}

img.project-title-mar {
    height: 70%;
    width: 180px;
}

img.project-title {
    height: 100%;
    width: 250px;
    object-fit: scale-down;
}






/* **************** */
/* FULL CARD  */
/* **************** */

.full-project-card {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-des {
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.project-des p {
    cursor: pointer;
}

.tech-stack {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tech-stack ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tech-logo {
    height: 60px;
    width: 60px;
}

.repo-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.repo-btn a:nth-child(1) {
    margin-right: 20px;
}

.project-des a {
    background-color: white;
    color: #1c120c;
    width: fit-content;
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repo {
    filter: invert(5%) sepia(8%) saturate(3766%) hue-rotate(339deg) brightness(102%) contrast(94%);
    height: 60px;
    width: 60px;
    margin-left: 10px;
}






/***************/
/* Media Queries */
/***************/

@media (orientation: portrait) and (max-width: 1000px) {
    .Project {
        font-size: 1.25rem;
    }

    .half-project-card {
        height: 450px;
        grid-column: span 2;
    }

    .full-project-card {
        height: auto;
        grid-column: span 2;
    }

    .project-des {
        width: 100%;
    }

    .project-des p {
        margin: 0 3px 6px 3px;
    }

    .tech-stack {
        margin-bottom: 10px;
    }

    .tech-stack ul {
        flex-wrap: wrap;
    }

    .tech-logo {
        margin: 2px;
    }

    .repo-btn {
        flex-wrap: wrap;
    }

    .repo-btn a:nth-child(1) {
        margin: 0;
    }

    .project-des a {
        width: 80%;
        margin-top: 10px;
    }
}