.Project {
    /* background-color: gray; */
    width: 100%;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 40px;
    grid-template-areas: 
        "card card"
    ;
    font-size: 1.75rem;
}






/***************/
/* Half Cards */
/***************/

.half-project-card{
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 8px; */
    height: 725px;
    cursor: pointer;
    /* min-height: auto; */
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-vid-project {
    /* border-radius: 8px 8px 0  0; */
    height: 500px;
    width: 100%;
}

.logo-container{
    /* width: 100%; */
    background-color: white;
    height: 225px;
    /* height: 205px; */
    /* height: 200px; */
    /* height: fit-content; */
    /* height: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

img.project-title-mar {
    /* background-color: purple; */
    height: 70%;
    /* width: auto; */
    width: 180px;
    /* height: 200px; */

    /* height: 180px; */
    /* width: auto; */



    /* height: 200px;
    width: auto; */
    /* width: 250px; */
    /* margin-bottom: 20px; */
}

img.project-title {
    /* background-color: red; */
    /* height: 200px;
    width: 350px;
    object-fit: scale-down; */
    height: 100%;
    /* height: 200px; */
    width: 250px;
    /* width: 00px; */
    /* width: auto; */
    /* max-width: 100%; */
    /* width: 500px; */
    object-fit: scale-down;
}






/* **************** */
/* FULL CARD  */
/* **************** */

/* Pic and Logo => 725px  */

.full-project-card {
    /* background-color: olivedrab;  */
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 8px; */
    height: 1200px;
    /* height: 980px; */
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-des {
    /* background-color: orange; */
    height: 38%;
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.project-des p {
    cursor: pointer;
    /* background-color: blue; */
    /* margin-bottom: 16px; */
    /* padding: 20px 20px; */
}

.tech-stack {
    /* background-color: red; */
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tech-stack ul {
    /* background-color: black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tech-logo {
    height: 60px;
    width: 60px;
}

.repo-btn {
    /* background-color: violet; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.repo-btn a:nth-child(1) {
    margin-right: 20px;
}

.project-des a {
    background-color: white;
    color: #1c120c;
    width: fit-content;
    height: 80px;
    width: 250px;
    /* padding: 5px; */
    /* border-radius: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.repo {
    filter: invert(5%) sepia(8%) saturate(3766%) hue-rotate(339deg) brightness(102%) contrast(94%);
    height: 60px;
    width: 60px;
    margin-left: 10px;
}






/***************/
/* Media Queries */
/***************/

@media (orientation: portrait) and (max-width: 1000px) {
    .half-project-card {
        background-color: green;
        grid-column: span 2;
        /* height: 200px; */
    }
}