* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  background: linear-gradient(169deg, rgba(249, 213, 103, 1) 20%, rgba(223, 122, 36, 1) 82%);
  font-family: "Raleway-Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #1c120c;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  margin: 0;
}

textarea {
  resize: none;
}

button:hover {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}